<ion-view title="About Us">
    <ion-content>
        <div class="card p-10">
            <p class="text-c">Zolo is India's first marketplace for on-demand talent where you can discover thousands of talented people ready to help you get anything done.

                <p class="text-c">Imagine having an army of people with a variety of 'specialized skills & talent' ready to help you complete your to-do list, finish your projects, solve any problem and accomplish your big goals in life. Soon Zolo will have over 200,000 independent professionals in over 500+ categories across 50 cities in India sharing their talent, skills & services with you.</p>



               <p class="text-c"> Zolo is one of the rare digital companies which is positioning itself for global success by enabling freelancers from all walks of life to build a business around their passion.</p>
        </div>
    </ion-content>
</ion-view>