<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-balanced  material-background-nav-bar">
            <ion-nav-buttons side="left">
                <a class="button button-icon button-clear ion-navicon" menu-toggle="right" ng-click="toggleLeft()"></a>
            </ion-nav-buttons>

        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <md-sidenav md-component-id="right">
        <!--menu section-->
        <div class="material-background" id="toggle-menu-right-header">
            <!--menu header section-->
            <div class="menu-left-header">
                <img ng-if="user_profile!=undefined" style="height: 62px;width: 62px;" class="user-img"
                     ng-src="{{user_profile.image}}">
                <img ng-if="user_profile===undefined" class="user-img" ng-src="{{'/img/profileAvatar.jpg'}}">
                <p>
                    <span ng-if="user_profile!=undefined" class="title">{{user_profile.name}}</span>
                    <br/>
                    <span ng-if="user_profile!=undefined" class="title">{{user_profile.description}}</span>
                    <span ng-if="user_profile===undefined" class="title">Zolo Right</span>
                    <br/>
                    <span ng-if="user_profile===undefined" class="sub-title">Get anything done!</span>
                </p>
            </div>
        </div>
        <ion-content id="toggle-menu-right-content">
            <md-list>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.allCategory')">
                    <i class="fa fa-cube"></i>
                    <span>Category</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.signUp')">
                    <i class="fa fa-cube"></i>
                    <span>Sign Up</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.login')">
                    <i class="fa fa-cube"></i>
                    <span> Login</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.contact_us')">
                    <i class="fa fa-cube"></i>
                    <span>Contact Us</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.about_us')">
                    <i class="fa fa-cube"></i>
                    <span>About Us</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.optional_index')">
                    <i class="fa fa-cube"></i>
                    <span>Login/Sign Up</span>
                </md-list-item>
            </md-list>
        </ion-content>
    </md-sidenav>
</ion-side-menus>

