<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">
            <i ng-click="closeAddOnsModel()" class="fa fa-times pull-right" aria-hidden="true"></i>
        </h1>
    </ion-header-bar>
    <ion-content>
            <b>YOUR PACKAGE</b>
            <div class="card">
                <ion-checkbox ng-model="booking_add_ons">{{package.name}}</ion-checkbox>
                <p>&#8377; {{book.quantity * package.deal_price}}</p>
                <div class="col-md-6" ng-init="a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
                    <md-select id="Quantity" ng-model="book.quantity" placeholder="Select Quantity"
                               md-on-close="setIndex(-1,true)">
                        <md-option ng-repeat="n in a" value='{{n}}'>{{n}}</md-option>
                    </md-select>
                </div>
            </div>
            <br>
            <b>ADD ONS</b>
            <div>
                <div class="card" ng-show="package.Addons.data.length == '0'">
                    No, Add ons found for this package.
                </div>
                <div ng-repeat="addon in package.Addons.data" ng-show="package.Addons.data.length >'0'">
                    <div class="card">
                        <div class="col-md-6 col-xs-6 checkbox-p p-r-0 col-sm-6">
                            <div class="checkbox">
                                <label class="text-indent">
                                    <input checklist-model="selectedaddons[$index].id;" checklist-value="addon.id"
                                           ng-change="setIndex($index,checked)"
                                           type="checkbox" class="md-checkbox">
                                    <span class="checkbox-material"><span class="check"></span></span>
                                    {{addon.name}}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-3 p-r-0 col-sm-3"
                             ng-init="a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
                            <md-select id="Addon_Quantity" ng-model="selectedaddons[$index].quantity"
                                       placeholder="Select Quantity" ng-change="setIndex($index)"
                                       md-on-close="checkAddon($index)">
                                <md-option ng-repeat="n in a" value='{{n}}'>{{n}}</md-option>
                            </md-select>
                        </div>

                        <div class="col-md-3 col-xs-3 p-r-0 col-sm-3">
                            <div class="pdp-addon-price w-700">
                                &#8377;{{addon.amount}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </ion-content>
</ion-modal-view>