<style>
    .nav-bar-title{
        margin-left: 30px!important;
    }
    .platform-android .bar .title{
        margin-left: 30px;
    }
    </style>

<ion-view title="Description">

    <ion-nav-bar class="header_color">

        <button class="button back-button buttons button-clear header-item back-button-custom"  ng-click="back_to_pdp()"  tabindex="0" style="margin-left: -15px; color: #b2b2b2!important; ">
            <i class="icon ion-ios-arrow-back" role="button" tabindex="0"></i>
            <span class="back-text"></span></button>
    </ion-nav-bar>
    <!--<ion-nav-bar class="header_color">-->
        <!--<ion-nav-back-button class="button-clear">-->
            <!--<i class="icon ion-ios-arrow-back"></i>-->
        <!--</ion-nav-back-button>-->
    <!--</ion-nav-bar>-->
    <ion-content>
        <div class="card">
            <!--{{package.term_condition| htmlToPlaintextTruncate:package.description.length}}-->
            <p class="p-10 text-justify" ng-bind-html="package.description"></p>
        </div>
    </ion-content>
</ion-view>