<ion-view title="Zolo" back-button-hide="false">
    <ion-header-bar class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper search">
            <i class="icon ion-search placeholder-icon"></i>
            <input placeholder="Search..." ng-model="filterText" ng-keypress="search_result()" type="text">
        </label>
        <div class="title title-left header-item">Zolo</div>

    </ion-header-bar>

    <ion-nav-buttons side="right">
    </ion-nav-buttons>

    <ion-content id="restaurant">
        <ion-slide-box id="restaurant-slide-box" show-pager="false" active-slide="0">
            <!--<a ng-href="{{banner[0].url}}">-->
                <!--<img ng-if="banner.length=='1'" src="{{banner[0].image_url}}">-->
            <!--</a>-->
            <ion-slide ng-if="banner.length=='0'">
                    <img src="http://www.imzolo.com/global/images/dummy.png">
            </ion-slide>

            <!--<img ng-if="banner.length=='0'" src="http://www.imzolo.com/global/images/dummy.png">-->
            <ion-slide style="padding-top: 0px !important;"  ng-if="banner.length >= 1" ng-repeat="banner_url in banner">
                <a ng-href="{{banner_url.url}}">
                    <img ng-src="{{banner_url.image_url}}" width="100%;">
                </a>
            </ion-slide>
        </ion-slide-box>

        <div class="card" style="margin:10px 0; border-bottom: 1px solid #eee;" ng-repeat="category in category_n_sub_catagery_list"
             ng-if="category.id != 13 && category.parent_id == null">
            <div class="row" style="border-bottom: 1px solid #eee;">
                <div class="col-75 content p-0-10">
                    <p class="w-100 m-t-10 f-18 " style="text-transform: capitalize;">
                        {{category.name}}
                    </p>
                </div>

                <div class="col-25 content">
                    <p  ng-click="allSubcategory(category.id)" class="m-t-10 zolo-c">
                        VIEW ALL
                        <i class="ion-chevron-right"></i>
                    </p>
                </div>
            </div>

            <!--<ion-scroll  width="500px; height: 500px" direction="xy" scroll="true" class="m-t-10" >-->

                <div class="row m-t-20">
                    <div class="col-50" ng-repeat="subCategory_detail in category.subCategory.data">
                        <figure class="text-center">
                            <img style="width: 150px; height: 130px" ng-src="{{subCategory_detail.image}}"  ng-click="getPackages(subCategory_detail.id)">

                            <figcaption>{{subCategory_detail.name}}</figcaption>
                        </figure>
                    </div>
                </div>
            <!--</ion-scroll>-->
        </div>

    </ion-content>
</ion-view>
