<ion-view title="ZOLO">
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
    <ion-content id="restaurant">
        <ion-slide-box id="restaurant-slide-box" show-pager="false" active-slide="0">
            <ion-slide class="slide-01">
                <div class="content">
                    <h1>
                        Bakery Day
                    </h1>

                    <p>
                        40% Off Now!!
                    </p>
                </div>
            </ion-slide>
            <ion-slide class="slide-02">
                <div class="content">
                    <h1>
                        Bread Hour
                    </h1>

                    <p>
                        90% Off Now!!
                    </p>
                </div>
            </ion-slide>
            <ion-slide class="slide-03">
                <div class="content">
                    <h1>
                        CupCake Festival
                    </h1>

                    <p>
                        50% Off Friday
                    </p>
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="col" ng-repeat="category in category_n_sub_catagery_list"
             ng-if="((category.id == 10) || (category.id == 13) || (category.id == 14) || (category.id == 15) || (category.id == 32) || (category.id == 44) || (category.id == 63) || (category.id == 77))">
            <div class="row">
                <div class="col-75 content">
                        <h3>
                            {{category.name}}
                        </h3>
                </div>

                <div class="col-25 content">
                    <p  ng-click="allSubcategory(category.id)">
                        VIEW ALL
                        <i class="ion-chevron-right"></i>
                    </p>
                </div>
            </div>
            <ion-scroll width="500px; height: 500px" direction="xy">
                <div class="row">
                    <div class="col-50" ng-repeat="subCategory_detail in category.subCategory.data">
                        <img style="width: 150px; height: 130px" ng-src="{{subCategory_detail.image}}" ng-click="getPackages(subCategory_detail.id)">
                        <b style="padding-top: 10px" class="text-center">{{subCategory_detail.name}}</b>
                    </div>
                </div>
            </ion-scroll>
        </div>
        </div>
    </ion-content>
</ion-view>