<ion-view title="ORDER REVIEW">
    <ion-nav-bar class="header_color">
        <ion-nav-back-button class="button-clear">
            <i class="icon ion-ios-arrow-back"></i>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <p class="f-18 m-t-20 w-200 m-l-10">REVIEW YOUR ORDER</p>
        <div class="card">
            <div class="row">
                <div class="col-75">
                    <!--<ion-checkbox ng-model="isChecked" class="m-l-negative"><p class="m-l-negative" ng-bind-html="orp_result.package_title"></p></ion-checkbox>-->

                    <p>{{orp_result.package_title}}</p>


                    <!--<<<<<<< HEAD-->
                    <!--<h4>ADD ONS  {{orp_result.bookingPackagesAddons.data.length}}</h4>-->
                    <!--<div class="card" ng-show="orp_result.bookingPackagesAddons.data.length =='0'">-->
                    <!--<p>No, Add ons found for this package!</p>-->
                    <!--</div>-->
                    <!--<div class="card" ng-show="orp_result.bookingPackagesAddons.data.length !='0'">-->
                    <!--=======-->
                </div>
                <!--<div class="col-20">-->
                <!--q{{orp_result.quantity}}-->
                <!--</div>-->
                <!--<div class="col-10">-->
                <!--del{{orp_result.package_delivery_time}}-->
                <!--</div>-->

                <div class="col-25">
                    <p class="zolo-c f-18 text-right"><i class="fa fa-inr"></i>&nbsp; {{orp_result.price}}</p>

                </div>
            </div>

            <div class="row">
                <div class="col-75">
                    <p>QTY&nbsp;:{{orp_result.quantity}}</p>

                </div>

                <div class="col-25">
                    <p class="text-c text-right">Del: {{orp_result.package_delivery_time}} Days</p>

                </div>
            </div>

        </div>

        <p ng-if="orp_result.bookingPackagesAddons.data.length > 0" class="f-18 m-t-20 w-200 m-l-10">ADD ONS</p>
        <div class="card" ng-if="orp_result.bookingPackagesAddons.data.length > 0">
            <div class="row" ng-repeat="add_on_list in orp_result.bookingPackagesAddons.data">

                <div class="col-67">
                    <ion-list>
                        <ion-item class="p-l-5">Name of add ons{{add_on_list.name}}</ion-item>
                    </ion-list>


                    <!--<ion-checkbox ng-model="isChecked">
                    Name of add ons{{add_on_list.name}}
                       <!--</ion-checkbox>-->
                    <div style="padding: 5px 7px;"> Del : {{add_on_list.days}}</div>

                </div>

                <div class="col-33 text-center">
                    <div class="f-16 zolo-c text-right" style="padding: 16px 0;">&#8377; {{add_on_list.amount}}</div>
                    <div class="text-right" style="padding: 5px 0;">QTY : {{add_on_list.quantity}}</div>


                </div>

            </div>

            <!--<div class="row">-->
            <!--<div class="col-80">-->
            <!--del{{add_on_list.days}}-->

            <!--</div>-->

            <!--<div class="col-20">-->
            <!--q {{add_on_list.quantity}}-->

            <!--</div>-->

            <!--</div>-->


            <!--<div class="col-10">-->
            <!--del{{add_on_list.days}}-->
            <!--</div>-->

            <!--<div class="col-20">-->
            <!--q {{add_on_list.quantity}}-->

            <!--</div>-->
            <!--</div>-->
        </div>

        <div class="card">
            <div class="row p-10">
                <div class="col-50">
                    <p class="w-500 f-14 text-c">TOTAL Amount</p>

                </div>

                <div class="col-50">
                    <p class="text-right f-18 w-500 zolo-c">&#8377; {{orp_result.total_price}}</p>

                </div>


            </div>
        </div>

    </ion-content>
    <ion-footer-bar align-title="left" class="bar-assertive p-0">
        <div class="button-bar" ng-click="add_address()">
            <a class="button button-royal f-18 line-height pdp-buy border-c">CONTINUE TO PAYMENT</a>
        </div>
    </ion-footer-bar>
</ion-view>
