<ion-view title="Package Summary">
    <ion-nav-bar class="header_color">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div class="card">
            <div class="row">
                <div class="col">
                    <i class="fa fa-star" style="margin-right: 10px"></i></span> Ratings:
                    <div class="col text-right grid-pdp">
                        <div class="row">
                            <span ng-if="package.average_rating===1||package.average_rating>1">
                                <i class="fa fa-star" style="margin-right: 10px"></i>
                            </span>
                            <span ng-if="package.average_rating==0">No rating yet!</span>
                            <span ng-if="package.average_rating>1"><i class="fa fa-star" style="margin-right: 10px"></i></span>
                            <span ng-if="package.average_rating>2"><i class="fa fa-star" style="margin-right: 10px"></i></span>
                            <span ng-if="package.average_rating>3"><i class="fa fa-star" style="margin-right: 10px"></i></span>
                            <span ng-if="package.average_rating>4"><i class="fa fa-star" style="margin-right: 10px"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <i class="ion-navicon"></i> No. of Sales:
                    <div class="row">
                       {{package.seller_profile.sales.count}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <i class="ion-android-car"></i> Delivery:
                    <div class="row">{{package.delivery_time}}</div>
                </div>
                <div class="col">
                    <i class="ion-document"></i> Package Type:
                    <div class="row">
                  <b>{{package.PackagesTypes.data.name}}</b>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col"> <p class="text-center">Package Id:<b># {{package.id}}</b></p></div>
            </div>
        </div>
    </ion-content>
</ion-view>