<ion-view title="Payment Success">
    <ion-content>
        <div class="card p-5 m-5" ng-if="online == true">
            <div class="row">
                <div class="col-50">
                    <p>Order # <b>{{order_detail.id}}</b></p>
                </div>
                <div class="col-50">
                    <p class="pull-right">By:<b> {{order_detail.seller_profile.name}}</b></p>
                </div>
            </div>
            <hr>

            <div class="row">
                <p class="w-500 f-18">{{order_detail.package_title}}</p>
            </div>

            <div class="row">
                <div class="col-40">
                    <img ng-src="{{order_detail.first_photo}}" ng-show="order_detail.first_photo!=null" width="400">
                    <img src=" ../img/default.png" ng-show="order_detail.first_photo==null" width="400">
                </div>
                <div class="col-60">
                    <p>Package Name<b>{{order_detail.package_title}}</b></p>
                    <br>
                    <p>Quantity<b>{{order_detail.quantity}}</b></p>

                </div>
            </div>

            <div class="row m-t-10">
                <div class="col-50">
                    <p class="text-c">Amount </p>
                    <p class="text-c">Order Status </p>
                    <p class="text-c">Order Date</p>
                </div>

                <div class="col-50">
                    <p> : {{total_price}}</p>
                    <p> : {{order_detail.booking_status.replace('_',' ')}}</p>
                    <p> : {{order_detail.order_date}}</p>
                </div>
            </div>
        </div>
        <div class="card" ng-if="online == false" style="border: 2px solid rgba(255, 0, 0, 0.21);  border-radius: 5px;">
            <div class="item item-text-wrap">
                Please check your Internet Connection and try again
                <button class="button f-18 w-500" ng-click="try_again()" style="width: 100%; height: 10px; padding-bottom: 20px; color: #565a5c; border: 1px solid #aaa; margin-top: 20px;">
                    Try again
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>

