<ion-view>
    <ion-nav-title>{{package.slug}}</ion-nav-title>
    <ion-nav-bar class="header_color">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content id="product-detail-content">
        <md-card id="product-detail-tab-detail">
            <img src="{{package.photos.data[0].url}}" class="md-card-image" alt="Card image">
            <div style="align:right ;"><a class="md-button md-accent md-fab fab-toolbar-medium"
                                          aria-label="showListBottomSheet" ng-click="shareProduct($event)">
                <i class="ion-android-share-alt"></i>

                <!--<a class="md-button md-accent md-fab fab-toolbar-medium"-->
                   <!--ng-click="sharedProduct($event,product)"-->
                   <!--aria-label="showListBottomSheet">-->
                    <!--<i class="ion-android-share-alt"></i>-->
                <!--</a>-->
            </a></div>
            <md-card-content>
                <b><h2 style="text-align: justify;" class="md-title">{{package.name}}</h2></b>RS
                <span class="pin-footer text-left"><h4 style="color: rgb(103,58,183);display: inline">
                    {{package.deal_price}}</h4>
                </span>
                <div class="row">
                    <div class="col">
                        <i class="ion-android-pin">{{package.location[0].text}}</i>
                    </div>
                    <div class="col text-right grid-pdp">
                        <div class="row">
                    <span ng-if="package.average_rating===1||package.average_rating>1">
                        <i class="fa fa-star" style="margin-right: 10px"></i>
                    </span>
                            <span ng-if="package.average_rating==0">No rating yet!</span>
                            <span ng-if="package.average_rating>1"><i class="fa fa-star" style="margin-right: 10px"></i></span>
                            <span ng-if="package.average_rating>2"><i class="fa fa-star" style="margin-right: 10px"></i></span>
                            <span ng-if="package.average_rating>3"><i class="fa fa-star" style="margin-right: 10px"></i></span>
                            <span ng-if="package.average_rating>4"><i class="fa fa-star" style="margin-right: 10px"></i></span>
                        </div>
                        <div class="row">
                            <b> Reviews:</b>{{package.reviews.data.length}}
                        </div>
                    </div>
                </div>
                <br/>
                <hr/>
                <div class="row">
                    <div class="col">
                        <h4 ng-click="description_value()">Description</h4>
                    </div>
                    <div class="col">
                        <h4 ng-click="term_n_condition()">Terms & Conditions</h4>
                    </div>
                    <div class="col">
                        <h4 ng-click="package_summary()">Package Summary</h4>
                    </div>
                </div>
                <div ng-show="term_n_cond">
                    <div class="card">
                        <p data-ng-bind-html="package.term_condition"></p>
                    </div>
                    <div class="card" ng-hide="package.term_condition.length">
                        <p class="text-center">No term and condition found!</p>
                    </div>
                </div>

                <div ng-show="des_value">
                    <p ng-bind-html="package.description | limitTo: 400">
                    </p>
                    <b class="pull-right" ng-click="full_desc(package.id)">More <i
                            class="ion-ios-arrow-forward"></i></b>
                </div>
                <br/>
                <div class="card" ng-show="pec_value">
                    <div class="row">
                        <div class="col">
                            <i class="fa fa-star" style="margin-right: 10px"></i></span> Ratings:
                            <div class="col text-right grid-pdp">
                                <div class="row">
                            <span ng-if="package.average_rating===1||package.average_rating>1">
                                <i class="fa fa-star" style="margin-right: 10px"></i>
                            </span>
                                    <span ng-if="package.average_rating==0">No rating yet!</span>
                                    <span ng-if="package.average_rating>1"><i class="fa fa-star"
                                                                              style="margin-right: 10px"></i></span>
                                    <span ng-if="package.average_rating>2"><i class="fa fa-star"
                                                                              style="margin-right: 10px"></i></span>
                                    <span ng-if="package.average_rating>3"><i class="fa fa-star"
                                                                              style="margin-right: 10px"></i></span>
                                    <span ng-if="package.average_rating>4"><i class="fa fa-star"
                                                                              style="margin-right: 10px"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <i class="ion-navicon"></i> No. of Sales:
                            <div class="row">
                                {{package.seller_profile.sales.count}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <i class="ion-android-car"></i> Delivery:
                            <div class="row">{{package.delivery_time}}</div>
                        </div>
                        <div class="col">
                            <i class="ion-document"></i> Package Type:
                            <div class="row">
                                <b>{{package.PackagesTypes.data.name}}</b>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"><p class="text-center">Package Id:<b># {{package.id}}</b></p></div>
                    </div>
                </div>


            </md-card-content>
            <ion-list>
                <ion-item>
                    <p ng-click="seller_Profile(package.id)">View Seller Profile</p>
                    <div class="vr">&nbsp;</div>
                    <i class="ion-heart pull-right"></i>
                </ion-item>
            </ion-list>
            <br/>
            <div class="row">
                {{seller_info.length}} Other Packages by {{package.seller_name}}
            </div>
            <ion-scroll width="500px; height: 500px" direction="xy">
                <div class="row">
                    <div class="col-50 card" ng-repeat="seller_package_info in seller_info">
                        <img style="width: 150px; height: 130px" ng-src="{{seller_package_info.first_photo}}">
                        <b style="padding-top: 10px; padding-left: 5px; padding-right: 5px;" class="text-center">{{seller_package_info.name}}</b>
                        <br>
                        <div class="row">
                            <p class="pull-left">
                                <i class="ion-android-pin">{{seller_package_info.location[0].text}}</i>
                            </p>
                            <p class="pull-right" style="padding-left: 80px;">
                                &#8377; {{seller_package_info.deal_price}}
                            </p>
                        </div>
                    </div>
                </div>
            </ion-scroll>
            <div ng-show="booking_add_ons">
                <b>YOUR PACKAGE</b>
                <div class="card">
                    <ion-checkbox ng-model="booking_add_ons">{{package.name}}</ion-checkbox>
                    <p>&#8377; {{book.quantity * package.deal_price}}</p>
                    <div class="col-md-6" ng-init="a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
                        <md-select id="Quantity" ng-model="book.quantity" placeholder="Select Quantity"
                                   md-on-close="setIndex(-1,true)">
                            <md-option ng-repeat="n in a" value='{{n}}'>{{n}}</md-option>
                        </md-select>
                    </div>
                </div>
                <br>
                <b>ADD ONS</b>
                <div>
                    <div ng-repeat="addon in package.Addons.data">
                        <div class="card">
                            <div class="col-md-6 col-xs-6 checkbox-p p-r-0 col-sm-6">
                                <div class="checkbox">
                                    <label class="text-indent">
                                        <input checklist-model="selectedaddons[$index].id;" checklist-value="addon.id"
                                               ng-change="setIndex($index,checked)"
                                               type="checkbox" class="md-checkbox">
                                        <span class="checkbox-material"><span class="check"></span></span>
                                        {{addon.name}}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-3 p-r-0 col-sm-3"
                                 ng-init="a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
                                <md-select id="Addon_Quantity" ng-model="selectedaddons[$index].quantity"
                                           placeholder="Select Quantity" ng-change="setIndex($index)"
                                           md-on-close="checkAddon($index)">
                                    <md-option ng-repeat="n in a" value='{{n}}'>{{n}}</md-option>
                                </md-select>
                            </div>

                            <div class="col-md-3 col-xs-3 p-r-0 col-sm-3">
                                <div class="pdp-addon-price w-700">
                                    &#8377;{{addon.amount}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-card>
    </ion-content>
    <script type="text/ng-template" id="bottom-sheet-shared.html">
        <md-bottom-sheet class="md-grid">
            <!--list section-->
            <md-list id="bottom-sheet-grid-md-list">
                <md-list-item>
                    <a class="md-grid-item-content" ng-click="sharedFacebook()">
                        <md-icon md-svg-src="facebook"></md-icon>
                        <div class="md-grid-text"> Facebook</div>
                    </a>
                </md-list-item>
                <md-list-item>
                    <a class="md-grid-item-content" ng-click="sharedTwitter()">
                        <md-icon md-svg-src="twitter"></md-icon>
                        <div class="md-grid-text"> Twitter</div>
                    </a>
                </md-list-item>
                <md-list-item>
                    <a class="md-grid-item-content" ng-click="sharedMail()">
                        <md-icon md-svg-src="mail"></md-icon>
                        <div class="md-grid-text"> Mail</div>
                    </a>
                </md-list-item>
                <md-list-item>
                    <a class="md-grid-item-content" ng-click="sharedWhatsApp()">
                        <i class="ion-android-image"></i>

                        <div class="md-grid-text"> WhatsApp</div>
                    </a>
                </md-list-item>
                <!--<md-list-item>-->
                    <!--<a class="md-grid-item-content" ng-click="sharedMore()">-->
                        <!--<md-icon md-svg-src="share-arrow"></md-icon>-->
                        <!--<div class="md-grid-text"> More</div>-->
                    <!--</a>-->
                <!--</md-list-item>-->
            </md-list> <!--end list section-->
        </md-bottom-sheet>
    </script>

    <ion-footer-bar ng-hide="booking_add_ons" align-title="left" class="bar-assertive" style="background: none">
        <div class="button-bar" ng-click="book_now()">
            <a class="button button-royal">Buy Now &#8377; {{package.deal_price}}</a>
        </div>
    </ion-footer-bar>
    <ion-footer-bar ng-show="booking_add_ons" align-title="left" class="bar-assertive" style="background: none">
        <div class="button-bar" ng-click="book_now_confirm()">
            <a class="button button-royal">Buy Now &#8377; {{amount_to_show}}</a>
        </div>
    </ion-footer-bar>
</ion-view>


