<ion-view>
    <ion-nav-title>{{package.slug}}</ion-nav-title>
    <ion-nav-bar class="header_color">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content id="product-detail-content">
        <md-card id="product-detail-tab-detail" class="m-0">
            <img src="{{package.photos.data[0].url}}" class="md-card-image" alt="Card image">
            <div>
                <a class="md-button md-accent md-fab fab-toolbar-medium pdp-share" aria-label="showListBottomSheet" ng-click="shareProduct2($event)">
                <i class="ion-android-share-alt"></i>
            </a>

            </div>

            <md-card-content class="p-10">
                <div class="row">
                    <p class="pdp-pkg-title">{{package.name}}</p>
                </div>
                <!--<i></i>-->


                <div class="row">
                    <div class="col-50">
                        <p class="zolo-c f-18 w-400"><i class="fa fa-inr"></i>&nbsp; {{package.deal_price}}</p>
                        <p class="text-c"><i class="fa fa-map-marker"></i>&nbsp;{{package.location[0].text}}</p>
                    </div>

                    <div class="col-50">
                        <div class=" pdp-pkg-rating text-c">
                            <p  ng-if="package.average_rating===1||package.average_rating>1"><i class="fa fa-star"></i></p>

                            <p  ng-if="package.average_rating==0">No rating yet!</p>
                            <p  ng-if="package.average_rating>1"><i class="fa fa-star"></i></p>
                            <p  ng-if="package.average_rating>2"><i class="fa fa-star"></i></p>
                            <p  ng-if="package.average_rating>3"><i class="fa fa-star"></i></p>
                            <p  ng-if="package.average_rating>4"><i class="fa fa-star"></i></p>

                        </div>
                        <p class="pull-right text-c"> Reviews: {{package.reviews.data.length}}</p>



                    </div>

                </div>

                <!--<span class="pin-footer text-left"><h4 style="color: rgb(103,58,183);display: inline">-->
                <!--{{package.deal_price}}</h4>-->
                <!--</span>-->
                <!--<div class="row">-->
                <!--<div class="col">-->
                <!--&lt;!&ndash;<i class="ion-android-pin">{{package.location[0].text}}</i>&ndash;&gt;-->
                <!--</div>-->
                <!--<div class="col text-right grid-pdp">-->
                <!--<div class="row">-->
                <!--&lt;!&ndash;<span ng-if="package.average_rating===1||package.average_rating>1">&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="fa fa-star"></i>&ndash;&gt;-->
                <!--&lt;!&ndash;</span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span ng-if="package.average_rating==0">No rating yet!</span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span ng-if="package.average_rating>1"><i class="fa fa-star" style="margin-right: 10px"></i></span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span ng-if="package.average_rating>2"><i class="fa fa-star" style="margin-right: 10px"></i></span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span ng-if="package.average_rating>3"><i class="fa fa-star" style="margin-right: 10px"></i></span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span ng-if="package.average_rating>4"><i class="fa fa-star" style="margin-right: 10px"></i></span>&ndash;&gt;-->
                <!--</div>-->
                <!--<div class="row">-->
                <!--<b> Reviews:</b>{{package.reviews.data.length}}-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <hr/>

                <div class="row">
                    <div class="col-33">
                        <p class="f-13 text-c" ng-click="description_value()" ng-class="{'z-active':}">Description</p>
                    </div>

                    <div class="col-33 text-center">
                        <p class="f-13 text-c" ng-click="package_summary()">Package Summary</p>
                    </div>

                    <div class="col-33 text-center">
                        <p class="f-13 text-c" ng-click="term_n_condition()">T&C</p>
                    </div>


                </div>


                <div ng-show="term_n_cond">
                    <div class="card">
                        <p data-ng-bind-html="package.term_condition"></p>
                    </div>
                    <div class="card" ng-hide="package.term_condition.length">
                        <p class="text-center">No term and condition found!</p>
                    </div>
                </div>

                <div ng-show="des_value">
                    <p class="text-c" ng-bind-html="package.description | limitTo: 400"></p>

                    <p class="pull-left f-18 zolo-c" ng-click="full_desc(package.id)">More <i class="fa fa-plus-square-o"></i></p>
                </div>
                <br/>
                <div class="card m-0" ng-show="pec_value">
                    <div class="row">
                        <div class="col">
                            <i class="fa fa-star"></i> Ratings:
                            <div class="col text-right grid-pdp">
                                <div class="row">
                            <span ng-if="package.average_rating===1||package.average_rating>1">
                                <i class="fa fa-star"></i>
                            </span>
                                    <span ng-if="package.average_rating==0">No rating yet!</span>
                                    <span ng-if="package.average_rating>1"><i class="fa fa-star"></i></span>
                                    <span ng-if="package.average_rating>2"><i class="fa fa-star"></i></span>
                                    <span ng-if="package.average_rating>3"><i class="fa fa-star"></i></span>
                                    <span ng-if="package.average_rating>4"><i class="fa fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <i class="ion-navicon"></i> No. of Sales:
                            <div class="row">
                                {{package.seller_profile.sales.count}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <i class="ion-android-car"></i> Delivery:
                            <div class="row">{{package.delivery_time}}</div>
                        </div>
                        <div class="col">
                            <i class="ion-document"></i> Package Type:
                            <div class="row">
                                <b>{{package.PackagesTypes.data.name}}</b>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"><p class="text-center">Package Id:<b># {{package.id}}</b></p></div>
                    </div>
                </div>


            </md-card-content>

            <ion-list>
                <ion-item class="p-10">
                    <div class="row">

                        <div class="col-50 border-right">
                            <p ng-click="seller_Profile(package.id)">View Seller Profile</p>
                        </div>

                        <div class="col-50">
                            <i class="ion-heart pull-right"></i>
                        </div>

                    </div>
                    <!--<div class="vr">&nbsp;</div>-->
                </ion-item>
            </ion-list>


            <div class="row m-t-10 p-r-10 p-l-10">
                <div class="col-75">
                    <p>{{seller_info.length}} Other Packages by {{package.seller_name}}</p>

                </div>

                <div class="col-25">
                    <p class="pull-right"><a href="">View All &nbsp;<i class="fa fa-angle-right"></i></a></p>
                </div>


            </div>



            <ion-scroll width="500px; height: 500px" direction="xy">
                <div class="row" style="margin-top: -20px;">
                    <div class="col-50 card" ng-repeat="seller_package_info in seller_info">
                        <img style="width: 100%; height: 130px" ng-src="{{seller_package_info.first_photo}}">
                        <p class="p-r-5 p-l-5 m-0 pdp-des text-c">{{seller_package_info.name}}</p>

                        <div class="row">
                            <div class="col-50 pull-left">
                                <p class="text-c"><i class="ion-android-pin">&nbsp;{{seller_package_info.location[0].text}}</i></p>

                            </div>

                            <div class="col-50">
                                <p class="pull-right text-c">&#8377; {{seller_package_info.deal_price}}</p>

                            </div>



                        </div>
                    </div>
                </div>
            </ion-scroll>



            <div ng-show="booking_add_ons">
                <b>YOUR PACKAGE</b>
                <div class="card">
                    <ion-checkbox ng-model="booking_add_ons">{{package.name}}</ion-checkbox>
                    <p>&#8377; {{book.quantity * package.deal_price}}</p>
                    <div class="col-md-6" ng-init="a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
                        <md-select id="Quantity" ng-model="book.quantity" placeholder="Select Quantity"
                                   md-on-close="setIndex(-1,true)">
                            <md-option ng-repeat="n in a" value='{{n}}'>{{n}}</md-option>
                        </md-select>
                    </div>
                </div>
                <br>
                <b>ADD ONS</b>
                <div>
                    <div ng-repeat="addon in package.Addons.data">
                        <div class="card">
                            <div class="col-md-6 col-xs-6 checkbox-p p-r-0 col-sm-6">
                                <div class="checkbox">
                                    <label class="text-indent">
                                        <input checklist-model="selectedaddons[$index].id;" checklist-value="addon.id"
                                               ng-change="setIndex($index,checked)"
                                               type="checkbox" class="md-checkbox">
                                        <span class="checkbox-material"><span class="check"></span></span>
                                        {{addon.name}}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-3 p-r-0 col-sm-3"
                                 ng-init="a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
                                <md-select id="Addon_Quantity" ng-model="selectedaddons[$index].quantity"
                                           placeholder="Select Quantity" ng-change="setIndex($index)"
                                           md-on-close="checkAddon($index)">
                                    <md-option ng-repeat="n in a" value='{{n}}'>{{n}}</md-option>
                                </md-select>
                            </div>

                            <div class="col-md-3 col-xs-3 p-r-0 col-sm-3">
                                <div class="pdp-addon-price w-700">
                                    &#8377;{{addon.amount}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </md-card>
    </ion-content>

    <ion-footer-bar ng-hide="booking_add_ons" align-title="left" class="bar-assertive p-0 " style="background: none">
        <div class="button-bar" ng-click="book_now()">
            <a class="button button-royal f-18 line-height pdp-buy">Buy Now &#8377; {{package.deal_price}}</a>
        </div>
    </ion-footer-bar>
    <ion-footer-bar ng-show="booking_add_ons" align-title="left" class="bar-assertive" style="background: none">
        <div class="button-bar" ng-click="book_now_confirm()">
            <a class="button button-royal f-18 line-height">Buy Now &#8377; {{amount_to_show}}</a>
        </div>
    </ion-footer-bar>
</ion-view>


