<ion-view>
    <ion-nav-title>{{package.slug}}</ion-nav-title>
    <ion-nav-bar class="header_color">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>
    </ion-nav-bar>

    <!--<ion-nav-buttons side="left">-->
    <!--<a ng-click="navigateTo('app.package_list',package.category.data.id)"-->
    <!--class="button back-button buttons button-clear header-item nav-back-btn">-->
    <!--<i class="ion-android-arrow-back"></i>-->
    <!--</a>-->
    <!--</ion-nav-buttons>-->
    <ion-content id="product-detail-content">
        <!--header section-->
        <md-card id="product-detail-tab-detail">
            <img src="{{package.photos.data[0].url}}" class="md-card-image" alt="Card image">
            <div style="align:right ;">
                <a  class="md-button md-accent md-fab fab-toolbar-medium" aria-label="showListBottomSheet" ng-click="shareProduct2($event)">
                <i class="ion-android-share-alt"></i>
            </a></div>
            <md-card-content>


                <p style="text-align: justify;" class="md-title">{{package.name}}</p>
                &#8377;<span class="pin-footer text-left" ><h4 style="color: green;display: inline">{{package.deal_price}}</h4>&nbsp;&nbsp;<span class="font-sale"><h4 style="display: inline">{{package.price}}</h4> </span></span>
                <br/>

                <hr/>
                <div class="row">
                    <div class="col text-left grid-pdp">

                        <!--wishlist icon-->
                        <span  ng-if="package.wished_by_user===true" class="pin-footer text-left" style=" color:red; margin-right: 10px" ng-click="removefromWishlist(package.id)(package.id); $event.stopPropagation()"><i class="fa fa-heart"></i></span>
                        <span ng-if="package.wished_by_user===false" class="pin-footer text-left" style="margin-right: 10px" ng-click="addToWishlist(package.id); $event.stopPropagation()"><i class="fa fa-heart-o"></i></span>
                        <span ng-if="package.wished_by_user==='user not logged in'" class="pin-footer text-left" style="margin-right: 10px" ng-click="showListBottomSheet($event); $event.stopPropagation()"><i class="fa fa-heart-o"></i></span>
                        <!--<i class="fa fa-heart-o" style="margin-right: 10px"></i>--><strong>Wishlist</strong>
                    </div>
                    <div class="col text-right grid-pdp">
                        <i class="fa fa-clock-o" style="margin-right: 10px"></i><strong>{{package.delivery_time}}&nbsp;{{package.delivery_time_type}}&nbsp;Delivery</strong>
                    </div>
                </div>
                <h4>Description</h4>
                <p style="font-size: 15px; text-align: justify;">
                    {{package.description| htmlToPlaintextTruncate:package.description.length}}
                    <!--{{package.description}}-->
                </p>
                <br/>
                <hr/>
            </md-card-content>
            <div class="row">
                <div class="col text-left grid-pdp">
                    <strong>Rating</strong>
                </div>
                <div class="col text-right grid-pdp">
                    <span ng-if="package.average_rating===1||package.average_rating>1">
                        <i class="fa fa-star" style="margin-right: 10px"></i>
                    </span>
                    <span ng-if="package.average_rating==0">No rating yet!</span>
                    <span ng-if="package.average_rating>1"><i class="fa fa-star" style="margin-right: 10px"></i></span>
                    <span ng-if="package.average_rating>2"><i class="fa fa-star" style="margin-right: 10px"></i></span>
                    <span ng-if="package.average_rating>3"><i class="fa fa-star" style="margin-right: 10px"></i></span>
                    <span ng-if="package.average_rating>4"><i class="fa fa-star" style="margin-right: 10px"></i></span>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col text-left grid-pdp" style="border-top: none">
                    <strong>Seller Info</strong>
                </div>
                <div class="col text-right grid-pdp" style="border-top: none">
                    <strong>{{package.seller_name}}</strong>
                </div>
            </div>
        </md-card>
    </ion-content><!--end pricing section-->

    <ion-footer-bar align-title="left" class="bar-assertive" style="background: none">
        <!--  <div class="buttons">
              <button class="button">Add to Collection</button>
          </div>
          <h1 class="title"></h1>
          <div class="buttons" ng-click="">
              <button class="button">Buy Now</button>
          </div>-->
        <div class="button-bar">
            <a class="button button-dark">Add to Collection</a>
            <a class="button button-royal">Order Now</a>
        </div>
    </ion-footer-bar>
    <!--angular template section-->
    <!--<script type="text/ng-template" id="bottom-sheet-shared.html">
        <md-bottom-sheet class="md-grid">
            &lt;!&ndash;list section&ndash;&gt;
            <md-list id="bottom-sheet-grid-md-list">
                <md-list-item>
                    <a class="md-grid-item-content" ng-click="sharedFacebook()">
                        <md-icon md-svg-src="facebook"></md-icon>
                        <div class="md-grid-text"> Facebook</div>
                    </a>
                </md-list-item>
                <md-list-item>
                    <a class="md-grid-item-content" ng-click="sharedTwitter()">
                        <md-icon md-svg-src="twitter"></md-icon>
                        <div class="md-grid-text"> Twitter</div>
                    </a>
                </md-list-item>
                <md-list-item>
                    <a class="md-grid-item-content" ng-click="sharedMail()">
                        <md-icon md-svg-src="mail"></md-icon>
                        <div class="md-grid-text"> Mail</div>
                    </a>
                </md-list-item>
                <md-list-item>
                    <a class="md-grid-item-content" ng-click="saveImage()">
                        <i class="ion-android-image"></i>
                        <div class="md-grid-text"> Save Image</div>
                    </a>
                </md-list-item>
                <md-list-item>
                    <a class="md-grid-item-content" ng-click="sharedMore()">
                        <md-icon md-svg-src="share-arrow"></md-icon>
                        <div class="md-grid-text"> More</div>
                    </a>
                </md-list-item>
            </md-list> &lt;!&ndash;end list section&ndash;&gt;
        </md-bottom-sheet>
    </script>-->
    <!--end angular template section-->
    <script type="text/ng-template" id="ui-grid-bottom-sheet-template">
        <md-bottom-sheet class="md-grid">
            <!--list section-->
            <md-list id="bottom-sheet-grid-md-list">
                <md-list-item>
                    <a class="md-grid-item-content" ng-click="closeListBottomSheet()">
                        <md-icon md-svg-src="facebook"></md-icon>
                        <div class="md-grid-text"> Facebook</div>
                    </a>
                </md-list-item>
                <md-list-item>
                    <a class="md-grid-item-content" ng-click="closeListBottomSheet()">
                        <md-icon md-svg-src="twitter"></md-icon>
                        <div class="md-grid-text"> Twitter</div>
                    </a>
                </md-list-item>
                <md-list-item>
                    <a class="md-grid-item-content" ng-click="closeListBottomSheet()">
                        <md-icon md-svg-src="mail"></md-icon>
                        <div class="md-grid-text"> Mail</div>
                    </a>
                </md-list-item>
                <md-list-item>
                    <a class="md-grid-item-content" ng-click="closeListBottomSheet()">
                        <i class="ion-android-image"></i>

                        <div class="md-grid-text"> Save Image</div>
                    </a>
                </md-list-item>
                <md-list-item>
                    <a class="md-grid-item-content" ng-click="closeListBottomSheet()">
                        <md-icon md-svg-src="share-arrow"></md-icon>
                        <div class="md-grid-text"> More</div>
                    </a>
                </md-list-item>
            </md-list>
            <!--end list section-->
        </md-bottom-sheet>
    </script>
    <!--end angular template section-->
    <script type="text/ng-template" id="ui-list-bottom-sheet-template">
        <md-bottom-sheet class="md-list md-has-header">
            <h1 class="md-bottom-sheet-header text-center"><i class="fa fa-heart-o"></i> Login to add to Wishlist</h1>
            <hr>
            <!--list section-->
            <md-list>
                <md-list-item>
                    <div class="col text-left">
                        <a ng-click="navigateTo('app.signIn')" class="md-raised md-button md-default-theme material-background" style="color: #fff">LOG IN</a>
                    </div>
                    <div class="col text-right">
                        <a ng-click="navigateTo('app.register')" class="md-raised md-button md-default-theme material-background" style="color: #fff">SIGN UP</a>
                    </div>
                </md-list-item>
            </md-list>

            <!--end list section-->
        </md-bottom-sheet>
    </script>
</ion-view>


