<ion-view title="Seller Profile">
    <ion-nav-bar class="header_color">
        <ion-nav-back-button class="button-clear">
            <i class="icon ion-ios-arrow-back"></i>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
            <div class="cover-img" ng-show="package.seller_profile.banner" style="background: url('{{package.seller_profile.banner}}') center no-repeat; background-size:cover; height: 200px;">
            </div>
            <div class="cover-img" ng-hide="package.seller_profile.banner" style="background: url('../img/profile_cover.jpg') center no-repeat; background-size:cover; height: 200px;">
            </div>

            <div class="row">

                <div class="col-50 text-center">
                    <img ng-show="package.seller_profile.image" src="{{package.seller_profile.image}}" class="profile-img">
                    <img ng-hide="package.seller_profile.image" src="./img/dummy.png" class="profile-img">
                </div>

                <div class="col-50 m-t-20">
                    <p class="f-18">{{package.seller_profile.name}}</p>
                    <p><i class="fa fa-star review-c"></i>&nbsp;{{package.average_rating}}/5 <span class="text-c">({{package.reviews.data.length}} Reviews)</span></p>
                </div>

            </div>


        <div class="card m-t-0  m-10-0">
            <p class="p-20 text-c p-b-0">{{package.seller_profile.description}}</p>

            <p class="p-10" ng-hide="package.seller_profile.description">
                No, description found for {{package.seller_profile.name}}
            </p>

        </div>


        <div class="card m-10-0">
            <div class="row border-bottom">
                <div class="col-50 text-center">
                    Contact Us
                    <p class="m-t-10 text-c"><i class="fa fa-phone text-success "></i>&nbsp;<a ng-href="tel:  08882091091">08882091091</a> </p>
                </div>
                <!--<div class="col-50 text-center">-->
                    <!--<p class="m-t-10 text-c"><i class="fa fa-phone text-success "></i>&nbsp;<a ng-href="tel:  {{package.seller_profile.mobile}}">{{package.seller_profile.mobile}}</a> </p>-->
                <!--</div>-->

                <div class="col-50 text-center">
                    <p class="m-t-10"><i class="fa fa-map-marker"></i>&nbsp;{{package.seller_profile.city}} {{package.seller_profile.state}} </p>
                </div>
            </div>

            <div class="row m-t-10">
                <div class="col-50 text-center">
                    <p class="m-t-10 text-c">Total Packages&nbsp;  <span class="text-success">{{seller_info.length}}</span> </p>

                </div>

                <div class="col-50 text-center">
                    <p class="m-t-10 text-c"> Skills</p>
                </div>
            </div>
        </div>
        <div class="card p-5 m-10-0">
            <div class="row border-bottom">
                <p class=" text-c">Other package by {{package.seller_profile.name}}</p>
            </div>
            <ion-scroll width="500px; height: 500px" direction="xy">
                <div class="row">
                    <div class="col-50 card" ng-repeat="seller_package_info in seller_info">
                        <img style="width: 100%; height: 130px" ng-src="{{seller_package_info.first_photo}}">
                        <p class="p-r-5 p-l-5 m-0 pdp-des text-c">{{seller_package_info.name}}</p>

                        <div class="row">
                            <p class="pull-left">
                                [{{seller_package_info.location[0].text}}]
                            </p>
                        </div>
                    </div>
                </div>
            </ion-scroll>
        </div>
    </ion-content>
</ion-view>