<ion-view title="Seller Profile">
    <ion-nav-bar class="header_color">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img src="{{package.seller_profile.image}}">
                <h2>{{package.seller_profile.name}}</h2>
                <i class="icon ion-iphone"></i> {{package.seller_profile.mobile}}
            </div>
            <a class="item item-icon-left">
               <p>Location:</p> {{package.seller_profile.address}}
                {{package.seller_profile.city}} {{package.seller_profile.state}} {{package.seller_profile.pin}}
            </a>
        </div>
        <div class="card">
            <b>About {{package.seller_profile.name}}</b>
            <p style="padding-left: 10px; padding-right: 10px; padding-bottom: 10px;">
                {{package.seller_profile.description}}
            </p>
        </div>
        <div class="card">
            <b>{{package.seller_profile.name}} Gigs</b>
            <ion-scroll width="500px; height: 500px" direction="xy">
                <div class="row">
                    <div class="col-50 card" ng-repeat="seller_package_info in seller_info">
                        <img style="width: 150px; height: 130px" ng-src="{{seller_package_info.first_photo}}">
                        <b style="padding-top: 10px; padding-left: 5px; padding-right: 5px;" class="text-center">{{seller_package_info.name}}</b>
                        <br>
                        <div class="row">
                            <p class="pull-left">
                                <i class="ion-android-pin">{{seller_package_info.location[0].text}}</i>
                            </p>
                            <p class="pull-right" style="padding-left: 80px;">
                                &#8377; {{seller_package_info.deal_price}}
                            </p>
                        </div>
                    </div>
                </div>
            </ion-scroll>
        </div>

    </ion-content>
</ion-view>