<ion-view title="Terms & Conditions">
    <ion-nav-bar class="header_color">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div class="card">
            <!--{{package.term_condition| htmlToPlaintextTruncate:package.description.length}}-->
            <p data-ng-bind-html="package.term_condition"></p>
        </div>
        <div class="card" ng-hide="package.term_condition.length">
            <p class="text-center">No term and condition found!</p>
        </div>
    </ion-content>
</ion-view>