<ion-view title="ADD ADDRESS">
    <ion-nav-bar class="header_color">
        <ion-nav-back-button class="button-clear">
            <i class="icon ion-ios-arrow-back white-c"></i>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content>
        <div class="list card">
            <form>
                <label class="item item-input">
                    <input type="text" placeholder="Name" ng-model="user.name">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Address" ng-model="user.address">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Landmark" ng-model="user.landmark">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="City" ng-model="user.city">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="State" ng-model="user.state">
                </label>
                <label class="item item-input">
                    <input type="tel" placeholder="Pincode" ng-model="user.pincode">
                </label>
                <label class="item item-input">
                    <input type="number" placeholder="Mobile Number" ng-model="user.mobile">
                </label>
                <ion-checkbox ng-model="user.default">Make this Default Address</ion-checkbox>

            </form>
        </div>
            <div class="login-btn pull-left" ng-click="save_address()">
                <p class="button button-balanced m-l-10">SAVE</p>
            </div>
            <div class="login-btn pull-right" ng-click="skip()">
                <p class="button button-energized m-r-10">SKIP>></p>
            </div>




    </ion-content>
</ion-view>