<ion-view title="ADD ADDRESS">
    <ion-nav-bar class="header_color">
        <ion-nav-back-button class="button-clear">
            <i class="icon ion-ios-arrow-back text-c"></i>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content>
        <div class="list card m-5" ng-if="online == true">
            <form>
                <label class="item item-input">
                    <input type="text" placeholder="Name" ng-model="user.name">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Address" ng-model="user.address">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Landmark" ng-model="user.landmark">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="City" ng-model="user.city">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="State" ng-model="user.state">
                </label>
                <label class="item item-input">
                    <input type="tel" placeholder="Pincode" ng-model="user.pincode">
                </label>
                <label class="item item-input">
                    <input type="number" placeholder="Mobile Number" ng-model="user.mobile">
                </label>
                <ion-checkbox ng-model="user.default">Make this Default Address</ion-checkbox>

            </form>
        </div>
        <div class="row" ng-if="online == true">
            <div class="col-50">
                <div class=" pull-left button button-balanced" ng-click="save_address()">
                    SAVE
                </div>

            </div>

            <div class="col-50">
                <div class="pull-right button button-energized" ng-click="skip()">
                    SKIP>>
                </div>
            </div>
        </div>

        <div class="card" ng-if="online == false" style="border: 2px solid rgba(255, 0, 0, 0.21);  border-radius: 5px;">
            <div class="item item-text-wrap">
                Please check your Internet Connection and try again
                <button class="button f-18 w-500" ng-click="try_again()" style="width: 100%; height: 10px; padding-bottom: 20px; color: #565a5c; border: 1px solid #aaa; margin-top: 20px;">
                    Try again
                </button>
            </div>
        </div>

    </ion-content>
</ion-view>