<ion-view title="EDIT ADDRESS">
    <ion-nav-bar class="header_color">
        <ion-nav-back-button class="button-clear">
            <i class="icon ion-ios-arrow-back"></i>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div class="list card m-5">
            <form>
                <label class="item item-input">
                    <input type="text" placeholder="Name" ng-model="address.name">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Address" ng-model="address.street_address">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Landmark" ng-model="address.landmark">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="City" ng-model="address.city">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="State" ng-model="address.state">
                </label>
                <label class="item item-input">
                    <input type="tel" placeholder="Pincode" ng-model="address.pincode">
                </label>
                <label class="item item-input">
                    <input type="number" placeholder="Mobile Number" ng-model="address.phone_number">
                </label>
                <ion-checkbox ng-model="address.is_default">Default</ion-checkbox>
            </form>
        </div>

        <div class="row">
            <div class="col-50">
                <div class=" pull-left button button-balanced" ng-click="edit_address(address.id)">
                    EDIT
                </div>
            </div>
            <div class="col-50">
                <div class="pull-right button button-energized" ng-click="skip()">
                    SKIP>>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>