<ion-view title="Order Detail">
    <ion-content>
        <div class="card">
            <div class="row">
                <p>Order # <b>{{order_detail.id}}</b></p>
            </div>
            <div class="row">
                <div class="col-40">
                    <img ng-src="{{order_detail.first_photo}}" ng-show="order_detail.first_photo!=null">
                    <img src=" ../img/default.png" ng-show="order_detail.first_photo==null">
                </div>
                <div class="col-60">
                    <p>Package Name<b>{{order_detail.package_title}}</b></p>
                    <br>
                    <p>Quantity<b>{{order_detail.quantity}}</b></p>

                </div>
            </div>
            <div class="row">
                <p>By<b>{{order_detail.seller_profile.name}}</b></p>
            </div>
            <div class="row">
                <p>Amount: <b>{{total_price}}</b></p>
            </div>
            <div class="row">
                <p>Order Status: <b>{{order_detail.booking_status.replace('_',' ')}}</b></p>
            </div>
            <div class="row">
                <p>Order Date: <b>{{order_detail.order_date}}</b></p>
            </div>
        </div>

    </ion-content>
</ion-view>