<ion-view title="Login" hide-nav-bar="true">
    <ion-content id="social-login" class="background_img_optional">

        <div align="left"><a style="color: black" ng-click="back_page()"
                             class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
        </div>
        <h3 class="text-center">Login</h3>
        <div align="right"><a style="color: black" ng-click="goto('app/home')"
                             class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-close"></i>
        </a>
        </div>
    </ion-content>
</ion-view>