<!--<ion-view>-->
    <!--<ion-content>-->
        <!--<div class="row">-->
            <!--<div class="col" ng-click="sign_in()">-->
                <!--SIGN IN-->
            <!--</div>-->
            <!--<div class="col" ng-click="sign_up()">-->
                <!--REGISTER-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="list list-inset" ng-if="sign_up_value == 'sign_up'">-->
            <!--<label class="item item-input">-->
                <!--<i class="ion-person"></i><input type="text" placeholder="NAME" ng-model="user.name">-->
            <!--</label>-->
            <!--<br>-->
            <!--<label class="item item-input">-->
                <!--<i class="ion-iphone"></i><input type="tel" placeholder="MOBILE NUMBER" ng-model="user.mobile">-->
            <!--</label>-->
        <!--</div>-->
        <!--<form>-->
        <!--<div class="list list-inset" ng-if="sign_in_value == 'sign_in'">-->
            <!--<label class="item item-input">-->
                <!--<i class="ion-email"></i><input type="text" placeholder="EMAIL ID" ng-model="user.email"></label>-->
            <!--<br>-->
            <!--<label class="item item-input">-->
                <!--<i class="ion-locked"></i><input type="password" placeholder="PASSWORD" ng-model="user.password">-->
            <!--</label>-->
        <!--</div>-->
        <!--<button class="button button-block button-royal" ng-hide="sign_up_value == 'sign_up'" ng-click="login()">-->
            <!--Sign In-->
        <!--</button>-->
        <!--<button class="button button-block button-royal" ng-if="sign_up_value == 'sign_up'" ng-click="signUp()">-->
            <!--Sign Up-->
        <!--</button>-->
           <!--<h3 class="text-center" ng-hide="sign_up_value == 'sign_up'" ng-click="forget_pwd()">Forget Password?</h3>-->

    <!--<h3 class="text-center" style="margin-top: 100px"> Or Sign In With</h3>-->
        <!--<div class="row">-->
            <!--<div class="col">-->
            <!--<button class="button button-royal">-->
                <!--Facebook-->
            <!--</button>-->
                <!--</div>-->
            <!--<div class="col">-->
            <!--<button class="button button-assertive">-->
                <!--Google+-->
            <!--</button>-->
                <!--</div>-->
        <!--</div>-->
<!--</form>-->
    <!--</ion-content>-->
<!--</ion-view>-->

<!--View Information-->
<!--View name : Fake Login-->
<!--State name : app.fakeLogin-->
<!--URL : #app/fakeLogin-->

<ion-view title="Sign In" hide-nav-bar="true" class="bg-sign">
    <ion-content id="social-login" >
        <div align="left"><a style="color: black"  ng-click="goto('app/home')" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a></div>
        <form class="fakeLogin-form">
            <div>
                <img class="img-res" src="img/app_icon.png"/>
            </div>
            <div class="sub-header"><p class="custom-fontwhite custom-fontsize">Sign in to application<p></div>
            <div id="fakeLogin">
                <md-input-container md-no-float="">
                    <input ng-model="user.email" class="user-name" placeholder="Username">
                </md-input-container>
                <hr/>
                <md-input-container md-no-float="">
                    <input ng-model="user.password" class="user-password" type="password" placeholder="Password">
                </md-input-container>
            </div>
            <div>
                <button ng-click="login()" type="button"
                        class="md-raised social-button md-button md-default-theme material-background">
                    Sign In
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>