<ion-view title="Register" hide-nav-bar="true" class="bg-sign">
    <ion-content id="social-login">
        <div align="left"><a style="color: black" ng-click="navigateTo('app.home')"
                             class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a></div>
        <form class="fakeLogin-form">
            <div>
                <img class="img-res" src="img/app_icon.png"/>
            </div>
            <div class="sub-header"><p class="custom-fontwhite custom-fontsize">Register to the application</p></div>
            <div id="fakeLogin">
                <md-input-container md-no-float="">
                    <input ng-model="user.name" class="user-name" placeholder="Name">
                </md-input-container>
                <hr/>
                <md-input-container md-no-float="">
                    <input ng-model="user.mobile" type="number" placeholder="Mobile Number">
                </md-input-container>
                <hr/>
                <md-input-container md-no-float="">
                    <input ng-model="user.email" type="email" placeholder="Email">
                </md-input-container>
                <hr/>
                <md-input-container md-no-float="">
                    <input ng-model="user.password" class="user-password" type="password" placeholder="Password">
                </md-input-container>
            </div>
            <div>
                <button ng-click="signUp();" type="button"
                        class="md-raised social-button md-button md-default-theme material-background">
                    Register
                </button>
            </div>
        </form>

    </ion-content>
</ion-view>